body,html {
	font-family: 'Quicksand', sans-serif !important;
}

#app {
	 display: block;
}
 table {
	 margin: 8px auto;
	 text-align: center;
	 display: block;
}
 table th {
	 padding: 8px;
}
 table tr {
	
}
 table tr td {
	 text-align: center;
	 padding: 8px;
}
 table tr td:nth-child(6) {
	 background: green;
	 color: white;
}
 strong {
	 font-size: 12px;
	 font-style: italic;
}

.hidden {
	display:none
}
